<style language="css">
.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 56px;
  height: 32px;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid #FFD600;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #FFD600;
  -webkit-box-shadow: 0 7px 0 0 rgba(224,187,0,1) ;
  box-shadow: 0 7px 0 0 rgba(224,187,0,1) ;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}



.enjoy-css:active {
  top: 6px;
  border: 1px solid #fff6ca;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  color: rgba(160,160,160,1);
  background: #fff6ca;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
</style>

<div class="enjoy-css"></div>
<link async href="http://fonts.googleapis.com/css?family=Electrolize" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>